@font-face {
    font-family: "KaushanScript";
    src: url("KaushanScript-Regular.ttf"), url("KaushanScript-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Bold.ttf"), url("Montserrat-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-LightItalic.ttf"), url("Roboto-LightItalic.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Bold.ttf"), url("Roboto-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf"), url("Roboto-Regular.woff");
    font-weight: 400;
    font-style: normal;
}